/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************MIXINS*************/
/*Example: @include border-radius(10px);*/
/*Example: @include box-sizing(border-box);*/
/*Example: @include placeholder {
    style here
}*/
.button {
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.isInvisible {
  display: none !important; }

div#vr-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  color: black;
  background-color: rgba(0, 0, 0, 0.8); }
  div#vr-screen .container {
    color: white;
    padding: 2%;
    border-radius: 0.5em;
    text-align: center;
    margin: 0 auto;
    background-color: #3b5488;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  div#vr-screen h1, div#vr-screen p {
    margin-bottom: 2%; }
  div#vr-screen button {
    cursor: pointer;
    border: none;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    color: white;
    border-radius: 50%;
    background-color: #3b5488; }

#qr-code {
  padding: 5%; }

div#help-screen {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 4;
  color: black;
  background-color: rgba(0, 0, 0, 0.8); }

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0; }

.menu-mode {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center; }
  .menu-mode li {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0 0.2em;
    color: white;
    vertical-align: middle;
    position: relative; }
    .menu-mode li a,
    .menu-mode li img {
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0;
      position: absolute; }
    .menu-mode li i {
      color: white;
      font-size: 1.8em; }

.menu {
  width: 100%;
  height: 6em;
  display: block;
  position: fixed;
  z-index: 4;
  bottom: 0; }

.menu.trees,
.menu.terrain {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: #4a7893;
  transform: translate(0, 100%);
  display: none;
  padding-left: 13em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.menu.trees.active {
  display: block;
  transform: translate(0, 0); }

.menu.terrain.active {
  display: block;
  transform: translate(0, 0); }

.menu ul {
  text-align: left;
  vertical-align: middle; }

.menu ul li {
  width: 2em;
  height: 2em;
  display: inline-table;
  vertical-align: middle;
  padding: 0.3em;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0.3em;
  margin-right: 0.3em; }

.menu ul li.active {
  background-color: rgba(238, 238, 238, 0.8); }

.menu ul li img {
  width: 100%; }
  .menu ul li img.cardboard-icon {
    width: 1.5em; }

.mouse-cursor {
  position: absolute;
  display: block;
  z-index: 5;
  pointer-events: none; }

.mouse-cursor div {
  display: none;
  font-size: 2em;
  padding: 0.3em 0 0 0.3em;
  opacity: 0.5; }

.mouse-cursor div.active {
  display: block; }

.current-tool div {
  display: none; }

.current-tool div.active {
  display: table;
  width: 5em;
  height: 5em;
  margin-left: 6em;
  margin-top: 1em;
  text-align: center; }

.current-tool div.active i {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em; }

#farm {
  position: absolute;
  width: 100%;
  height: 100%; }

#farm-canvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%; }

#game-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  overflow: hidden; }

body {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  touch-action: none; }
