/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************MIXINS*************/
/*Example: @include border-radius(10px);*/
/*Example: @include box-sizing(border-box);*/
/*Example: @include placeholder {
    style here
}*/
.button {
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.isInvisible {
  display: none !important; }

div#vr-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  color: black;
  background-color: rgba(0, 0, 0, 0.8); }
  div#vr-screen .container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    div#vr-screen .container img {
      width: 2%; }

a.help {
  font-size: 4em;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5; }
  a.help img {
    width: 100%; }

div#help-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  color: black;
  background-color: rgba(0, 0, 0, 0.8); }
  div#help-screen .container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    div#help-screen .container img {
      width: 2%; }

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0; }

.menu {
  width: 100%;
  height: 6em;
  display: table;
  position: fixed;
  z-index: 4;
  bottom: 0; }

.mouse-cursor {
  position: absolute;
  display: block;
  z-index: 5;
  pointer-events: none; }

.mouse-cursor div {
  display: none;
  font-size: 2em;
  padding: 0.3em 0 0 0.3em;
  opacity: 0.5; }

.mouse-cursor div.active {
  display: block; }

.current-tool div {
  display: none; }

.current-tool div.active {
  display: table;
  width: 5em;
  height: 5em;
  margin-left: 6em;
  margin-top: 1em;
  text-align: center; }

.current-tool div.active i {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em; }

.menu.trees,
.menu.terrain,
.menu.all {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background-color: #4a7893;
  display: none;
  transform: translate(0, 100%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.menu.all.active {
  display: table;
  transform: translate(0, 0); }

.menu.tools {
  width: auto; }

.menu.tools .current-tool {
  width: 12em;
  height: 12em;
  position: fixed;
  background-color: #2d546b;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 5;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%); }

.menu.tools ul {
  width: 26em;
  height: 26em;
  position: fixed;
  z-index: 4;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  display: none;
  left: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  .menu.tools ul.menu-view, .menu.tools ul.menu-build {
    z-index: 3;
    width: 27em;
    height: 27em;
    transform: translate(-50%, 50%) scale(1.1); }
  .menu.tools ul.menu-mode {
    transform: translate(-50%, 50%) scale(0.7); }
  .menu.tools ul.active {
    display: block; }

.menu.tools ul.closed {
  transform: translate(-50%, 50%) scale(0.7); }
  .menu.tools ul.closed.menu-view, .menu.tools ul.closed.menu-build {
    transform: translate(-50%, 50%) scale(0.9); }

.menu.tools li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  overflow: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #aaa;
  left: 50%;
  top: 50%;
  margin-left: -10.5em;
  margin-top: -10.5em;
  overflow: hidden;
  background-color: #3b6b84; }

.menu.tools.menu-view {
  margin-left: -10.5em;
  margin-top: -10.5em;
  width: 10em;
  height: 10em; }

.menu.tools li:hover {
  background-color: #4a7893; }

.menu.tools li.active {
  background-color: #4a7893; }

.menu.tools .menu-mode li {
  background-color: #008993; }
  .menu.tools .menu-mode li a {
    transform: skew(-40deg) rotate(-70deg) scale(1); }
  .menu.tools .menu-mode li:hover {
    background-color: #008993; }
  .menu.tools .menu-mode li.active {
    background-color: #008993; }

.menu.tools .menu-mode li:first-child {
  transform: rotate(87deg) skew(40deg); }

.menu.tools .menu-mode li:nth-child(2) {
  transform: rotate(136deg) skew(40deg);
  background-color: #74ac2d; }
  .menu.tools .menu-mode li:nth-child(2):hover {
    background-color: #74ac2d; }
  .menu.tools .menu-mode li:nth-child(2).active {
    background-color: #74ac2d; }

.menu.tools .menu-view li {
  background-color: #03949f; }
  .menu.tools .menu-view li a {
    transform: skew(-40deg) rotate(-70deg) scale(1); }
  .menu.tools .menu-view li:hover {
    background-color: #02a3af; }
  .menu.tools .menu-view li.active {
    background-color: #02a3af; }

.menu.tools .menu-view li:first-child {
  transform: rotate(87deg) skew(40deg); }

.menu.tools .menu-view li:nth-child(2) {
  transform: rotate(136deg) skew(40deg); }

.menu.tools .menu-build li {
  background-color: #73b223; }
  .menu.tools .menu-build li a {
    transform: skew(-60deg) rotate(-80deg) scale(1); }
  .menu.tools .menu-build li:hover {
    background-color: #87d129; }
  .menu.tools .menu-build li.active {
    background-color: #87d129; }

.menu.tools .menu-build li:first-child {
  transform: rotate(90deg) skew(60deg); }

.menu.tools .menu-build li:nth-child(2) {
  transform: rotate(120deg) skew(60deg); }

.menu.tools .menu-build li:nth-child(3) {
  transform: rotate(150deg) skew(60deg); }

.menu.tools a {
  transform: skew(-65deg) rotate(-82deg) scale(1);
  border-radius: 50%;
  text-align: center;
  padding-top: 2em;
  display: block;
  font-size: 1.2em;
  height: 13.1em;
  width: 13.1em;
  position: absolute;
  bottom: -6.75em;
  right: -6.75em;
  text-decoration: none;
  color: white; }

.menu.all {
  bottom: 0;
  padding-left: 13em; }

.menu.trees {
  display: none;
  padding-left: 13em; }

.menu.trees.active {
  display: table;
  transform: translate(0, 0); }

.menu.terrain {
  display: none;
  padding-left: 13em; }

.menu.terrain.active {
  display: table;
  transform: translate(0, 0); }

.menu ul {
  text-align: left;
  display: table-cell;
  vertical-align: middle; }

.menu ul li {
  width: 70px;
  height: 70px;
  display: inline-table;
  vertical-align: middle;
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 3px;
  margin-right: 2px; }

.menu ul li.active {
  background-color: rgba(238, 238, 238, 0.8); }

.menu ul li img {
  width: 100%; }
  .menu ul li img.cardboard-icon {
    width: 1.5em; }

.menu-view,
.menu-build {
  display: none; }

#farm {
  position: absolute;
  width: 100%;
  height: 100%; }

#farm-canvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%; }

#game-screen {
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  overflow: hidden; }

body {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%; }
