#game-screen{
	width:100%;
	height: 100%;
	background-color: green;
	color: white;
	overflow: hidden;
}

body{
	background-color: black;
	position: fixed;
	width:100%;
	height: 100%;
	font-family: sans-serif;
}