.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
}

.menu{
    width: 100%;
    height: 6em;
    display: table;

    position: fixed;
    z-index: 4;
    bottom: 0;
   
}

.mouse-cursor{
	position: absolute;	
	display: block;
	z-index:5;
	pointer-events: none;
}

.mouse-cursor div{
	display: none;
	font-size: 2em;
	padding: 0.3em 0 0 0.3em;
	opacity:0.5;
}

.mouse-cursor div.active{
	display: block;
}

.current-tool div{
	display: none;
}

.current-tool div.active{
	display: table;
    width: 5em;
    height: 5em;
    margin-left: 6em;
    margin-top: 1em;
    text-align: center;
}

.current-tool div.active i{
	display: table-cell;
    vertical-align: middle;
    font-size: 3em;
}

.menu.trees,
.menu.terrain,
.menu.all{
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0;
	background-color: #4a7893;
    display: none;

    transform: translate(0, 100%); 

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.menu.all.active{
	display: table;
	transform: translate(0, 0); 
}

.menu.tools{
	width:auto;
}

.menu.tools .current-tool{
	width: 12em;
    height: 12em;
    position: fixed;
    background-color: rgb(45, 84, 107);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;  

    z-index: 5;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%); 
}

.menu.tools ul{
	width: 26em;
    height: 26em;
    position: fixed;
    z-index: 4;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    display: none;

    left: 0;
    bottom: 0;
    

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; 

    &.menu-view,
    &.menu-build{
        z-index: 3;
        width: 27em;
        height: 27em;
        transform: translate(-50%, 50%) scale(1.1);  
    }

    &.menu-mode{
        transform: translate(-50%, 50%) scale(0.7);  
    }

    &.active{
        display: block;
    }
}

.menu.tools ul.closed{
    transform: translate(-50%, 50%) scale(0.7);

    &.menu-view,
    &.menu-build{
        transform: translate(-50%, 50%) scale(0.9);
    }

   
}


.menu.tools{

    li{
        position: absolute;
        font-size: 1.5em;
        width: 11em;
        height: 11em;
        overflow: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;

        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        color: #aaa;

        left: 50%;
        top: 50%;
        margin-left: -11em;
        margin-top: -11em;
        overflow: hidden;

        background-color: rgb(59, 107, 132);     
    }

    &.menu-view{
        margin-left: -10.5em;
        margin-top: -10.5em;
        width: 10em;
        height: 10em;
    }
} 

.menu.tools li:hover{
	background-color: rgb(74, 120, 147);
}

.menu.tools li.active{
	background-color: rgb(74, 120, 147);
}

.menu.tools{

    .menu-mode{

        li{
            a{
                transform: skew(-40deg) rotate(-65deg) scale(1);
            }

            background-color: #008993;

            &:hover{
                background-color: #008993;
            }

            &.active{
                background-color: #008993;
            }
        }

        li:first-child{
            transform: rotate(87deg) skew(40deg);
        }

        li:nth-child(2){
            transform: rotate(136deg) skew(40deg);

            background-color: #74ac2d;

            &:hover{
                background-color: #74ac2d;
            }

            &.active{
                background-color: #74ac2d;
            }
        }
    }

    .menu-view{

        li{
            a{
                transform: skew(-40deg) rotate(-70deg) scale(1);
            }

            background-color: #03949f;

            &:hover{
                background-color: #02a3af;
            }

            &.active{
                background-color: #02a3af;
            }
        }

        li:first-child{
            transform: rotate(87deg) skew(40deg);
        }

        li:nth-child(2){
            transform: rotate(136deg) skew(40deg);
        }
    }

    .menu-build{

        li{
            a{
                transform: skew(-60deg) rotate(-75deg) scale(1);
            }

            background-color: #73b223;

            &:hover{
                background-color: #87d129;
            }

            &.active{
                background-color: #87d129;
            }
        }

        li:first-child{
            transform: rotate(88deg) skew(60deg);
        }

        li:nth-child(2){
            transform: rotate(118deg) skew(60deg);
        }

        li:nth-child(3){
            transform: rotate(148deg) skew(60deg);
        }

    }
}



.menu.tools{
 a{
	transform: skew(-65deg) rotate(-65deg) scale(1);
    border-radius: 50%;
    text-align: center;
    display: block;
    font-size: 1.2em;
    height: 14em;
    width: 14em;
    position: absolute;
    bottom: -7em;
    right: -7em;
    text-decoration: none;
    color:white;
}

    .menu-view{
        a{
            transform: skew(-65deg) rotate(-80deg) scale(1);
            width:14em;
            height:14em;
            bottom: -7em;
            right: -7em;
        }

    }
}


.menu.all{
	bottom: 0;
	padding-left: 13em;
}

.menu.trees{
	display: none;
	padding-left: 13em;
}

.menu.trees.active{
	display: table;
	transform: translate(0, 0); 
}

.menu.terrain{
	display: none;
	padding-left: 13em;
}

.menu.terrain.active{
	display: table;
	transform: translate(0, 0); 
}

.menu ul{
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

.menu ul li {
	width: 70px;
	height: 70px;
	display: inline-table;
	vertical-align: middle;
	padding: 5px;
	background-color: rgba(238, 238, 238, 0.4);
	border-radius: 3px;
	margin-right: 2px;
}

.menu ul li.active {
	background-color: rgba(238, 238, 238, 0.8);
}

.menu ul li img {
	width: 100%;

    &.cardboard-icon{
        width: 1.5em;
    }
}



.menu-view,
.menu-build {
    display:none;
}