.menu{
    width: 100%;
    height: 6em;
    display: table;

    position: fixed;
    z-index: 3;
    bottom: 0;
   
}

.mouse-cursor{
	position: absolute;	
	display: block;
	z-index:5;
	pointer-events: none;
}

.mouse-cursor div{
	display: none;
	font-size: 2em;
	padding: 0.3em 0 0 0.3em;
	opacity:0.5;
}

.mouse-cursor div.active{
	display: block;
}

.current-tool div{
	display: none;
}

.current-tool div.active{
	display: table;
    width: 5em;
    height: 5em;
    margin-left: 7em;
    margin-top: 1.5em;
    text-align: center;
}

.current-tool div.active i{
	display: table-cell;
    vertical-align: middle;
    font-size: 3em;
}

.menu.trees,
.menu.terrain,
.menu.all{
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0;
	background-color: #4a7893;
    display: none;

    transform: translate(0, 100%); 

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.menu.all.active{
	display: table;
	transform: translate(0, 0); 
}

.menu.tools{
	width:auto;
}

.menu.tools .current-tool{
	width: 14em;
    height: 14em;
    position: fixed;
    background-color: rgb(45, 84, 107);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;  

    z-index: 4;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%); 
}

.menu.tools ul{
	width: 26em;
    height: 26em;
    position: fixed;
    z-index: 3;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;

    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%) scale(1);  

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; 
}

.menu.tools ul.closed{
    transform: translate(-50%, 50%) scale(0.7);
}

.menu.tools li{
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    overflow: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #aaa;

    left: 50%;
    top: 50%;
    margin-left: -10.5em;
    margin-top: -10.5em;
    overflow: hidden;

    background-color: rgb(59, 107, 132);
}

.menu.tools li:hover{
	background-color: rgb(74, 120, 147);
}

.menu.tools li.active{
	background-color: rgb(74, 120, 147);
}

.menu.tools li:first-child{
	transform: rotate(85deg) skew(65deg);
}

.menu.tools li:nth-child(2){
	transform: rotate(110deg) skew(65deg);
}

.menu.tools li:nth-child(3){
	transform: rotate(135deg) skew(65deg);
}

.menu.tools li:nth-child(4){
	transform: rotate(160deg) skew(65deg);
}

.menu.tools a{
	transform: skew(-65deg) rotate(-82deg) scale(1);
    border-radius: 50%;
    text-align: center;
    padding-top: 2em;

    display: block;
    font-size: 1.2em;
    height: 13.1em;
    width: 13.1em;
    position: absolute;
    bottom: -6.75em;
    right: -6.75em;
    text-decoration: none;
    color:white;
}

.menu.all{
	bottom: 0;
	padding-left: 13em;
}

.menu.trees{
	display: none;
	padding-left: 13em;
}

.menu.trees.active{
	display: table;
	transform: translate(0, 0); 
}

.menu.terrain{
	display: none;
	padding-left: 13em;
}

.menu.terrain.active{
	display: table;
	transform: translate(0, 0); 
}

.menu ul{
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

.menu ul li {
	width: 70px;
	height: 70px;
	display: inline-table;
	vertical-align: middle;
	padding: 5px;
	background-color: rgba(238, 238, 238, 0.4);
	border-radius: 3px;
	margin-right: 2px;
}

.menu ul li.active {
	background-color: rgba(238, 238, 238, 0.8);
}

.menu ul li img {
	width: 100%;
}