div#vr-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    color: black;
    background-color: rgba(0, 0, 0, 0.8);

	.container {
	    width: 80%;
	    text-align: center;
	    margin: 0 auto;
	    background-color: rgba(255, 255, 255, 0.8);
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);

	     img {
		    width: 2%;
		}
	}
}
